{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Editar "{{ post['nome'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="nome">Nome</label>
    <input name="nome" id="nome"
      value="{{ request.form['nome'] or post['nome'] }}" required>

    <label for="especie">Espécie</label>
    <input name="especie" id="especie"
      value="{{ request.form['especie'] or post['especie'] }}" required>

    <label for="raca">Raça</label>
    <input name="raca" id="raca"
      value="{{ request.form['raca'] or post['raca'] }}">

    <label for="idade">Idade</label>
    <input name="idade" id="idade"
      value="{{ request.form['idade'] or post['idade'] }}">

    <input type="submit" value="Salvar">
  </form>

  <hr>

  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Excluir"
      onclick="return confirm('Tem certeza?');">
  </form>
{% endblock %}